@import "tailwindcss";

@theme {
  /* Neutral */
  --color-neutral: #ffffff;
  --color-neutral-50: #f4f4f6;
  --color-neutral-100: #e9eaec;
  --color-neutral-200: #d1d4db;
  --color-neutral-300: #9096a2;
  --color-neutral-400: #4d566b;
  --color-neutral-500: #202c46;
  --color-neutral-600: #1b253c;

  /* Blue */
  --color-blue-100: #f5f7fe;
  --color-blue-200: #eaeffd;
  --color-blue-300: #adbef7;
  --color-blue-400: #5a7dee;
  --color-blue-500: #315cea;
  --color-blue-600: #2a4ec7;
  --color-blue-700: #2240a4;

  /* Purple */
  --color-purple-100: #f8f5fe;
  --color-purple-200: #f1ecfc;
  --color-purple-300: #c9b2f3;
  --color-purple-400: #9265e8;
  --color-purple-500: #773fe2;
  --color-purple-600: #6436bf;

  /* Magenta */
  --color-magenta-100: #fef6f8;
  --color-magenta-200: #fceef1;
  --color-magenta-300: #f4bac8;
  --color-magenta-400: #e95791;
  --color-magenta-500: #e35275;
  --color-magenta-600: #c24764;

  /* Green */
  --color-green-100: #f4fdf7;
  --color-green-200: #e9faef;
  --color-green-300: #a9ebbf;
  --color-green-400: #52d880;
  --color-green-500: #27ce60;
  --color-green-600: #21af52;

  /* Red */
  --color-red-100: #fce9ec;
  --color-red-200: #f9d2d9;
  --color-red-300: #f2a6b4;
  --color-red-400: #e96777;
  --color-red-500: #df2648;
  --color-red-600: #b71f3b;

  /* Yellow */
  --color-yellow-100: #fef3e6;
  --color-yellow-200: #fde7cd;
  --color-yellow-300: #fccf9c;
  --color-yellow-400: #faba61;
  --color-yellow-500: #fb9118;
  --color-yellow-600: #c77214;

  /* Theme Mapping */
  --color-primary: var(--blue-500);
  --color-secondary: var(--purple-500);
  --color-error: var(--red-500);
  --color-success: var(--green-500);
  --color-warning: var(--yellow-500);

  /* Gradients */
  --color-gradient-primary: linear-gradient(
    90deg,
    var(--blue-500),
    var(--purple-500)
  );
  --color-gradient-secondary: linear-gradient(
    90deg,
    var(--purple-500),
    var(--green-500)
  );
  --color-gradient-accent: linear-gradient(
    90deg,
    var(--yellow-500),
    var(--red-500)
  );

  --font-inter: "inter", sans-serif;
}

@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/inter-v19-latin-regular.woff2") format("woff2");
}

@font-face {
  font-family: "inter";
  font-style: italic;
  font-weight: 300;
  src: url("/fonts/inter-v19-latin-300.woff2") format("woff2");
}

@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/inter-v19-latin-500.woff2") format("woff2");
}

@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/inter-v19-latin-600.woff2") format("woff2");
}

@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/inter-v19-latin-700.woff2") format("woff2");
}

@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/inter-v19-latin-900.woff2") format("woff2");
}

* {
  transition: 0.3s;
}
